

<h3>List of Pizzas</h3>
<ul>
  <% @pizzas.each do |pizza| %>
    <li><%= pizza %></li>
  <% end %>
</ul>

<!-- the above lines generate this -->
<h3>List of Pizzas</h3>
<ul>
  <li>cheese</li>
  <li>pepperoni</li>
  <li>supreme</li>
</ul>